/* goggle font "popines" */
@import url("https://www.google.com/search?q=font+awesome+icons&oq=font&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGDsyBggCEEUYOTIGCAMQRRhAMgkIBBAjGCcYigUyDQgFEAAYgwEYsQMYgAQyDQgGEAAYgwEYsQMYgAQyDQgHEAAYgwEYsQMYgATSAQ4zNjQ1MTI1NDZqMWoxNagCALACAA&sourceid=chrome&ie=UTF-8");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
 body {
    font-family:  'Poppins',sans-serif;
    width: 100%;
    height: 100vh;
    background: black;
    display: grid;
    place-items: center;
 }
  header{
    width: 85%;
    height: 95%;
    /*border: 1px solid #fff;*/
    display: flex;
    flex-wrap: wrap;
  }
  header .menu,
  .song{
    width: 25%;
    height: 90%;
    /*border:1px solid #fff;*/
    background: #111727;
    color: white;
    
  } 
  header .song{
    width: 75%;
    height: 90%;
    /*border: 1px solid#fff;*/
    background: #0b121f
    
  }
  header .masterplay{
    width: 100%;
    height: 10%;
    /*border: 1px solid#fff;*/
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
    
  }
  header .menu h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    
  }
  header .menu .Playlist {
     margin: 40px 0px 0px 20px;


  }
  header .menu .Playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
  }
  header .menu .Playlist h4:hover{
    color: #fff;

  }
  header .menu .Playlist h4 span{
    position: relative;
    margin-right: 35px;
  }
  header .menu .Playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid#4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
  }
  header .menu .Playlist h4:hover span::before{
    border: 2px solid#fff;
  }
  header .menu .Playlist h4 .bi{
    display: none;
  }
  header .menu .Playlist .active{
    color: aqua;
  }
  header .menu .Playlist .active span{
    display: none;
  } 
  header .menu .Playlist .active .bi{
    display: flex;
    margin: 20px;
  }
  header .menu .menu_song {
    width: 100%;
    height: 400px;
   /* border: 1px  solid#fff;*/
    margin-top: 40px;
    overflow: auto;
  }
  header .menu .menu_song::-webkit-scrollbar{
    display: none;
  }
  header .menu .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    background: rgb(105, 105, 105, .1);
  }
  header .menu .menu_song li:hover{
    background: rgb(105, 105, 105, .1);
  }
  header .menu .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
  }
  header .menu .menu_song img{
    width: 30px;
    height: 30px;
    margin-left: 25px;
    filter: drop-shadow(8px 6px 4px #36e2e6);
  }
  header .menu .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
   /* border: 1px solid#fff;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  header .menu .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
  }
  header .menu .menu_song li .bi{
    position: absolute; 
    right: 15px;

  }
  header .masterplay .wave{
   display: flex;
   align-items: center;
   padding: 0px 20px;
  }
  header .masterplay .wave{
    width: 30px;
    height: 30px;
   /* border: 1px solid#fff;*/
    padding: 5px;
    display: flex;
    align-items: flex-end;
   margin-left: 20px;

  }
 
  header .masterplay .wave .wave1{
    width: 3px;
    height: 10px;
    background: #36e2ec;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
    
  }
  header .masterplay .wave .wave1:nth-child(2){
       height: 13px;
       margin: 3.5px;
       animation-delay: .4s;

  }
  
header .masterplay .wave .wave1:nth-child(3){
       height: 8px;
       animation-delay: .8s;

       
  }
    /*javascript classes*/

    header .masterplay .active1 .wave1{
      
      animation: wave .5s linear infinite;

 }
     header .masterplay .active1 .wave1:nth-child(2){
  
     animation-delay: .4s;

}

    header .masterplay .active .wave1:nth-child(3){
 
    animation-delay: .8px;

  
}
 
  @keyframes wave {
    0%{
       height: 10px;
    }
    50%{
       height: 13px;
    }
    100%{
      height: 10px;
    }
  }
  header .masterplay img{
    width: 33px;
    height: 33px;
    position: absolute;
    left: 170px;
    bottom: 56px;
    filter:drop-shadow(8px 6px 4px #36e2e6)
  }
  header .masterplay h5{
     
    position: absolute;
    left:220px ;
    color: #fff;
    bottom:56PX ;
  }
  header .masterplay h5 .subtitle{
    color: #4c5262;
    font-size: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}  
header .masterplay .icons{
  position: absolute;
  left: 400px;
  color: #fff;
  display: flex;
  align-items: center;
}
header .masterplay .icons .bi{
  cursor: pointer;
  outline: none;

} 
header .masterplay .icons .suffle{
 font-size: 17px;
 margin-left: 10px;
 width: 18px;
 overflow: hidden;
 display: flex;
 align-items: center;
 left: 90px;



} 
header .masterplay .icons #download_music {
  font-size: 20px;
  position: absolute;
  left: 70px;   
 
 }
 header .masterplay .icon .bi:nth-child(3){
  border: 1px solid rgb(105, 105, 105, .1);
  border-radius: 50%;
  padding: 1px 5px 8px 7px;
  margin: 0px 5px ;
 }
 header .masterplay span{
  position: absolute;
  font-size: 7px;
  font-weight: 400;
  left: 600px; 
  width: 32px;
  color: #fff;  
  bottom: 70px;
 /* border: 1px solid#fff;*/
 
 } 
 header .masterplay #currentStart{
  margin: 0px  0px 0px 20px;
 }  
  
 header .masterplay .bar{
  margin: 0px  15px 0px 10px;
  width: 43%;
  position: absolute;
  left: 25px;
  bottom: -5px;
  background: rgb(105 105 170 .1);
 } 
 header .masterplay .bar .bar2{
 position: relative;
 background: #36e2ec;
 width: 350px;
 height: 2px;
 bottom: 9px;
 margin: 0px 15px 0px 1px;
 cursor: pointer;
 }  
 header .masterplay .bar .dot{
  position: absolute;
  width: 8px;
  height: 8px;
  background: #36e2ec;
  border-radius: 50%;
  bottom: 6px;
  transition: linear;
  left: 1px;

  
 } 
 header .masterplay .bar .dot::before {
 content: '';
 position: absolute;
 width: 15px;
 height: 15px;
 border: 1px solid#36e2ec;  
 border-radius: 50%;
 left: -5px;
 bottom:-4px;
 box-shadow: inset 0px 0px 3px #36e2ec;
 cursor: pointer;

 }  
 header .masterplay .bar input {
  width: 251px;
  cursor: pointer;
  z-index: 999999999999999999999999999999999999999999;
  /*transition:3s linear;*/
  opacity: 0;
  

 }  
 header .masterplay .bar .vol{
  position: absolute;
  width: 100px;
  background: rgb(105, 105, 170, .1);
  left: 350px;
  bottom: px;
  cursor: pointer;
 }
 header .masterplay  #currentEnd{
  left: 400px;
  bottom: 0px;
  
 }
 header .masterplay .vol{
        position: absolute;
        color: #fff;
        font-size: 20px;
        left: 500px;
        top: 10%;
        

 }
 header .masterplay .vol input{
     position: absolute;
     width: 100px;
     opacity: 0;
     z-index: 999999999999999999999999;
 }
 header .masterplay .vol .vol_bar{
  position:absolute;
  background: #36e2ec;
  width: 200%;
  height: 2px;
  top: 0px;
  left: 25px;

}
header .masterplay .vol .dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid#36e2ec;  
  border-radius: 50%;
  left: 18px;
  bottom: 13px;
  box-shadow: inset 0px 0px 3px #36e2ec;
  transition: 1s linear;
 
  }  



  /* materplaydotbefore is left out*/
   header .song{
       z-index: 2;
   }

  header .song::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 250px;
    background: url(img/why\ alan.jpg);
    left: 1050px;
    filter: drop-shadow(20px 18px 16px #36e2e6); 
    z-index: -1; 
  }
header .song nav{
     width: 90%;
     height: 10%;
     /*border: 1px solid #fff;*/
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
header .song nav ul{
  display: flex;
}

header .song nav ul li{
  list-style: none;
  position: relative;
  font-size: 13px;
  color: #4c5262;
  margin-left: 25px;
  cursor: pointer;
  transition: .3s linear;
}

header .song nav ul li:hover {
  color: #fff;
}
header .song nav ul li:nth-child(1){
  color: #fff;
}
header .song nav ul li span  {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #36e2ec;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}
header .song nav .search {
  position: relative;
  width: 30%;
  padding: 1px 10px;
  border-radius: 20px;
  /*border: 1px solid #fff;*/
  color: gray;
  left: -400px;
}
header .song nav .search::before {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: rgb(184, 184, 184, .1);
 border-radius: 20px;
 backdrop-filter: blur(5px);
 z-index: -1;
}
header .song nav .search .bi{
  font-size: 13px;
  padding: 3px 0px 0px 10px;
}
header .song nav .search input {
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  color: #fff;
  font-size: 12px;
  
}
header .song .content {
 width: 90%;
 height: 30%;
 /*border: 1px  solid #fff;*/
 margin: auto;
 padding-top: 20px;
}
header .song .content h1 {
  font-size: 25px;
  font-weight: 600;
 }
 header .song .content p {
  font-size: 11px;
  font-weight: 400;
  color: #4c5262;
  margin: 5px;
 }
 header .song .content .buttons {
     margin-top: 15px;

 }
 header .song .content .buttons button {
      width: 130px;
      height: 30px;
      border: 2px solid #36e2ec;
      border-radius: 20px;
      background: #5adae0;
      color: #fff;
      cursor: pointer;
      transition: .3s linear;
  
 }
 header .song .content .buttons button:hover {
  background: none ;
  color: #36e2ec;
}
header .song .content .buttons button:nth-child(2) {
  background: none;
  color: #fff

}
header .song .popular_songs {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
 /* border: 1px solid #fff;*/
    
}
header .song .popular_songs .h4 {
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}
header .song .popular_songs .h4 .bi{
  color: #a4a8b4;
  cursor: pointer;
  transition: .3s linear;
  
}
header .song .popular_songs .h4 .bi:hover {
  color: #fff;

  
}
header .song .popular_songs  .pop_songs{
  width: 100%;
  height: 150px;
  margin-top: 15px;
  display: flex;
  /*border: 1px solid#fff;*/
  overflow: auto;
  scroll-behavior: smooth; 
}
header .song .popular_songs  .pop_songs::-webkit-scrollbar{
    display: none;
}

header .song .popular_songs  .pop_songs li{
 min-width: 100px;
 height: 140px;
 list-style-type: none;
 margin-right: 10pxx;
 transition: .3s linear;
 
}
header .song .popular_songs  .pop_songs li:hover{
  background: rgb(105, 105, 105, .1); 
}
header .song .popular_songs .pop_songs li .img_play{
   position: relative;
   width: 100px;
   height: 100px;
   display: flex;
   align-self: center;
   justify-content: center;
}
header .song .popular_songs  .pop_songs li .img_play img{
  width: 100px;
  height: 100px;
}
header .song .popular_songs  .pop_songs li .img_play .bi{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;
  bottom: 40px;
  opacity: 0; 
  
}
header .song .popular_songs  .pop_songs li:hover .img_play .bi{
   opacity: 1;
  
}
header .song .popular_songs  .pop_songs li h5{
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  
}
header .song .popular_songs  .pop_songs li h5 .subtitle{
  
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c5262;

  
}
header .song .popular_artists{
  width: 90%;
  height: auto;
 /* border: 1px solid #fff;*/
  margin-left: 40px;
  
}
header .song .popular_artists .items {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  display: flex;
 /* border: 1px solid#fff;*/
  overflow: auto;
  scroll-behavior: smooth;
  overflow: hidden;
  cursor: pointer;


}


header .song .popular_artists .items li {
  list-style-type: none;
  position: relative;
  width: 60px;
  height: 60px; 
  margin-right: 20px;
  border-radius: 50%;


}
header .song .popular_artists .items img  {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 500px;
}






  











 

 
 

 
 





